//
   Created by ncs1207 on 2016/1/19.

doctype html
html
    head
        title JadeT
        link(rel="stylesheet" type="text/css" href="/stylesheets/themes/default/easyui.css")
        link(rel="stylesheet" type="text/css" href="/stylesheets/themes/icon.css")
        script(type='text/javascript' src='http://code.jquery.com/jquery-2.0.3.min.js')
        script(type='text/javascript' src='/javascripts/jquery.easyui.min.js')
        script.
            $(document).ready(function () {
                $('#dg').datagrid(
                        {
                            url: "/user/searchByCondition",
                            method: 'post',
                            toolbar: "#toolbar",
                            pagination: true,
                            rownumbers: true,
                            fitColumns: true,
                            singleSelect: false,
                            collapsible: true,
                            remoteSort: true,
                            height: 500,
                            columns: [[
                                {field: 'rowId', title: 'rowId', checkbox: true},
                                {field: '_id', title: 'id'},
                                {field: 'name', title: '姓名', width: 100},
                                {field: 'loginFrom', title: '登录于', width: 100}
                            ]]
                        });
            });



            function searchUser() {
                var name = $("#name_search").val();
                var loginFrom = $("#loginFrom_search").val();
                // $('#dg').datagrid({
                //  url: '/users/queryUserByCondition'
                //});
                $('#dg').datagrid('load', {
                    name: name,
                    loginFrom: loginFrom
                });

            }

            function newUser() {
                $('#dlg').dialog('open').dialog('setTitle', '创建新用户');
                $("#method").val("create");
            }

            function editUser() {
                var row = $('#dg').datagrid('getChecked');
                if (row.length === 0) {
                    $.messager.alert('提示信息', '请选择一条数据........');
                    return;
                }
                if (row.length > 1) {
                    $.messager.alert('提示信息', '只能选择一条修改.......');
                    return;
                }
                $.ajax({
                    cache: true,
                    type: 'post',
                    url: '/user/searchById',
                    data: {
                        userId: row[0]._id.toString()
                    },
                    async: false,
                    error: function (data) {
                        $.messager.alert('提示信息', '操作失败!');
                    },
                    success: function (data) {
                        // var res = eval('(' + data.result[0] + ')');
                        var res = data.result[0];
                        if (res) {
                            $("#id_createOrEdit").val(res._id);
                            $("#name_createOrEdit").textbox(
                                    "setValue", res.name);
                            $("#loginAccount_createOrEdit").textbox(
                                    "setValue", res.loginAccount);
                            $("#loginFrom_createOrEdit").textbox(
                                    "setValue", res.loginFrom);
                            $("#password_createOrEdit").textbox(
                                    "setValue", res.password);
                            $("#phone_createOrEdit").textbox(
                                    "setValue", res.phone);

                            $("#method").val("update");
                            $('#dlg').dialog('open').dialog('setTitle',
                                    '编辑');
                        }
                    }
                });
            }

            function deleteUser() {
                var row = $('#dg').datagrid('getChecked');
                if (row.length === 0) {
                    $.messager.alert('提示信息', '请选择一条数据........');
                    return;
                }
                var userIds = new Array();
                for (var i = 0; i < row.length; i++) {
                    userIds.push(row[i]._id);
                }
                $.messager
                        .confirm(
                                '确认',
                                '确定删除用户吗？',
                                function (r) {
                                    if (r) {
                                        $.ajax({
                                            cache: true,
                                            type: 'post',
                                            url: '/user/delete',
                                            data: {
                                                userIds: userIds.toString()
                                            },
                                            async: false,
                                            error: function (data) {
                                                $.messager.alert('提示信息',
                                                        '操作失败!');
                                            },
                                            success: function (data) {
                                                if (data.status == "success") {
                                                    $('#dg')
                                                            .datagrid(
                                                                    'reload',
                                                                    '/user/searchByCondition');
                                                }
                                                //$("#method").val("modify");
                                                $.messager.alert('提示信息',
                                                        res.msgInfo);
                                            }
                                        });
                                    }
                                });

            }

            function closeDlg() {
                //$("#method").val("modify");
                $('#dlg').dialog('close');
            }

            function save() {
                var _id = $("#id_createOrEdit").val();
                var name = $.trim($("#name_createOrEdit").val());
                var loginAccount = $.trim($("#loginAccount_createOrEdit").val());
                var loginFrom = $.trim($("#loginFrom_createOrEdit").val());
                var password = $.trim($("#password_createOrEdit").val());
                var phone = $.trim($("#phone_createOrEdit").val());
                var urlPost = "";
                if ($("#method").val() === "create") {
                    urlPost = "/user/create";
                }
                if ($("#method").val() === "update") urlPost = "/user/update";

                $.ajax({
                    type: 'POST',
                    url: urlPost,
                    dataType: "json",
                    data: {
                        userId: _id,
                        name: name,
                        loginAccount: loginAccount,
                        loginFrom: loginFrom,
                        password: password,
                        phone: phone
                    },

                    success: function (data) {

                        if (data.status == "success") {
                            $('#dg').datagrid('reload');
                            $('#dlg').dialog('close');
                            //$("#method").val("modify");
                        }
                        //$.messager.alert('提示信息', res.msgInfo);
                    },
                    error: function (data) {
                        $.messager.alert('提示信息', data.message);
                    }
                });
            }
    body
        table(id="dg" title="用户信息"  width="100%"
        style="height: 100%;" data-options="fit:true" )
            //thread
                tr
                    //th(field="id" checkbox="true")
                    th(data-options="field:'name',width:80") 姓名
                    th(data-options="field:'age',width:80") 年龄

        div(id="toolbar")
            table(id='ddg' class='easyui-panel' width='100%' style='height: 100px')
                tr
                    td(align="left" width="200px") Name
                        input(class="easyui-textbox" type="text"
                        name="name_search" id="name_search")
                    td(align="left" width="200px") LoginFrom
                        input(class="easyui-textbox" type="text"
                        name="loginFrom_search" id="loginFrom_search")
                tr
                    td
                        a(id="searchBtn" href="javascript:void(0)"
                        class="easyui-linkbutton" iconcls="icon-search" style="width: 80px"
                        onclick="searchUser()") 查询
            a(id="save" href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false"
            iconcls="icon-add" plain="true" onclick="newUser()") 新增
            a(id="delete" href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false"
            iconcls="icon-remove" plain="true" onclick="deleteUser()") 删除
            a(id="update" href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false"
            iconcls="icon-edit" plain="true" onclick="editUser()") 修改

        form(id="createOrEdit" method="post")
            div(id="dlg" class="easyui-dialog"
            data-options="closable:false,modal:true"
            style="width: 600px; height: 300px; padding: 10px 20px; position: relative;"
            closed="true" buttons="#dlg-buttons")
                div(class="ftitle") 用户信息
                input(id="id_createOrEdit" type="hidden" )
                div(class="fitem")
                    label 姓名:
                    input(id="name_createOrEdit" type="text" class="easyui-textbox")
                    span(style="color: red;") *
                div(class="fitem")
                    label 账号:
                    input(id="loginAccount_createOrEdit" type="text" class="easyui-textbox")
                    span(style="color: red;") *
                div(class="fitem")
                    label 登录于:
                    input(id="loginFrom_createOrEdit" type="text" class="easyui-textbox")
                    span(style="color: red;") *
                div(class="fitem")
                    label 密码:
                    input(id="password_createOrEdit" type="text" class="easyui-textbox")
                    span(style="color: red;") *
                div(class="fitem")
                    label 电话:
                    input(id="phone_createOrEdit" type="text" class="easyui-textbox")
                    span(style="color: red;") *

        div(id="dlg-buttons")
            a(href="javascript:void(0)" class="easyui-linkbutton c6"
            iconcls="icon-ok" onclick="save();" style="width: 90px") 保存
            a(href="javascript:void(0)" class="easyui-linkbutton"
            iconcls="icon-cancel" onclick="closeDlg();" style="width: 90px") 关闭
        input(type="hidden" id="method" name="method" value="update")




